<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>
   <extension-point id="branding" name="Docker Foundry Service Branding" schema="schema/branding.exsd"/>
   <extension-point id="application" name="Docker Foundry Supported Application Type" schema="schema/application.exsd"/>
   <extension-point id="appStateTracker" name="Publish Application State Tracker" schema="schema/appStateTracker.exsd"/>

   <!-- Internal extension point that should not be implemented by adopter -->
   <extension-point id="callback" name="UI Callback" schema="schema/callback.exsd"/>
	
   <extension
	       point="org.eclipse.wst.server.core.moduleTypes">
	    <moduleType
	          id="cn.dockerfoundry.ide.eclipse.server.core.CloudFoundryApplicationModule"
	          name="Docker Foundry Module">
	    </moduleType>
	 </extension>
  <extension
        point="org.eclipse.debug.core.launchConfigurationTypes">
     <launchConfigurationType
           delegate="cn.dockerfoundry.ide.eclipse.server.core.internal.debug.CloudFoundryDebuggingLaunchConfigDelegate"
           id="cn.dockerfoundry.ide.eclipse.launchconfig.debug"
           modes="debug"
           name="Docker Foundry"
           public="false">
     </launchConfigurationType>
  </extension>
  <extension
        point="org.eclipse.debug.core.sourcePathComputers">
     <sourcePathComputer
           class="cn.dockerfoundry.ide.eclipse.server.core.internal.debug.CloudFoundryDebugSourceLocator"
           id="cn.dockerfoundry.ide.eclipse.debug.sourcepathcomputer">
     </sourcePathComputer>
  </extension>
  <extension
        point="cn.dockerfoundry.ide.eclipse.server.core.application">
     <applicationDelegate
           class="cn.dockerfoundry.ide.eclipse.server.core.internal.application.JavaWebApplicationDelegate"
           priority="Low"
           providerID="cn.dockerfoundry.ide.eclipse.server.application.javaweb">
        <moduleID
              id="grails.app">
        </moduleID>
        <moduleID
              id="jst.web">
        </moduleID>
     </applicationDelegate>
  </extension>

 </plugin>
