<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>

<plugin>
   <extension-point id="applicationWizard" name="Application Wizard" schema="schema/applicationWizard.exsd"/>
   <extension-point id="serviceWizardIconProvider" name="Service Wizard Icon Provider" schema="schema/serviceWizardIconProvider.exsd"/>

	<extension point="org.eclipse.wst.server.ui.serverImages">
		<image
        	icon="icons/full/obj16/cloud.png"
        	id="cn.dockerfoundry.ide.eclipse.server.ui.image.CloudApplication"
        	typeIds="cn.dockerfoundry.ide.eclipse.server.core.CloudFoundryApplicationModule" />
	</extension>

	<extension point="org.eclipse.wst.common.project.facet.ui.images">
		<image 
			runtime-component-type="org.cloudfoundry.appcloudserver"
			path="icons/full/obj16/cloud_obj.png" />
	</extension>   
   
	<!-- extension point="org.eclipse.wst.server.ui.wizardFragments">
		<fragment 
			id="org.cloudfoundry.appcloudserver.runtime.10" 
			typeIds="org.cloudfoundry.appcloudserver.runtime.10"
			class="cn.dockerfoundry.ide.eclipse.server.ui.internal.CloudFoundryServerRuntimeWizardFragment" />
	</extension-->

	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage 
			icon="icons/full/obj16/cloud_obj.png"
			configTypeID="org.cloudfoundry.appcloudserver.launchConfiguration" 
			id="org.cloudfoundry.appcloudserver.launchimage">
		</launchConfigurationTypeImage>
	</extension>
	
	<!-- From the popupMenus extension.  This was commented out.  This is NOT ported to
	the org.eclipse.ui.menus extension.  -->
	<!-- disabled for CF 1.5.0 V2 until Insight support is available again in the future
    <action
             class="cn.dockerfoundry.ide.eclipse.server.ui.internal.actions.GoToSpringInsightAction"
             enablesFor="1"
             id="cn.dockerfoundry.ide.eclipse.server.ui.action.gotoinsight"
             label="Go to Spring Insight">
       </action>
     -->	

	<extension
       id="cn.dockerfoundry.ide.eclipse.server.ui.menus"
       point="org.eclipse.ui.menus">
    	<menuContribution locationURI="popup:org.eclipse.wst.server.ui.ServersView?after=org.eclipse.wst.server.ui.internal.cnf.controlServerSectionStart">
     	   <command
     	       label="Connect"
     	       commandId="cn.dockerfoundry.ide.eclipse.server.ui.connectcommand"
               icon="icons/full/obj16/connect.png">
  	         <visibleWhen
  	               checkEnabled="false">
  	               <test property="cn.dockerfoundry.ide.eclipse.server.ui.isServerSupported" value="true"/>
  	         </visibleWhen>
   	  	   </command>
 	   	</menuContribution>
    	<menuContribution locationURI="popup:org.eclipse.wst.server.ui.ServersView?after=org.eclipse.wst.server.ui.internal.cnf.controlServerSectionStart">
     	   <command
     	       label="Disconnect"
     	       commandId="cn.dockerfoundry.ide.eclipse.server.ui.disconnectcommand"
               icon="icons/full/obj16/disconnect.png">
  	         <visibleWhen
  	               checkEnabled="false">
  	               <test property="cn.dockerfoundry.ide.eclipse.server.ui.isServerSupported" value="true"/>
  	         </visibleWhen>
   	  	   </command>
 	   	</menuContribution>
    	<menuContribution locationURI="popup:org.eclipse.wst.server.ui.ServersView">
     	   <command
     	       label="Show Logs"
     	       commandId="cn.dockerfoundry.ide.eclipse.server.ui.updatepasswordcommand">
  	         <visibleWhen
  	               checkEnabled="false">
  	               <and>
  	               		<test property="cn.dockerfoundry.ide.eclipse.server.ui.isServerSupported" value="true"/>
  	               		<count value="1"/>
  	               </and>
  	         </visibleWhen>
   	  	   </command>
 	   	</menuContribution>
    	<menuContribution locationURI="popup:org.eclipse.wst.server.ui.ServersView">
     	   <command
     	       label="Open Home Page"
     	       commandId="cn.dockerfoundry.ide.eclipse.server.ui.internal.actions.openhomepagecommand">
  	         <visibleWhen
  	               checkEnabled="false">
				   <with variable="activeMenuSelection">
                     <and>
                  	 	<iterate>
                     	  <adapt
                           	type="org.eclipse.wst.server.ui.internal.view.servers.ModuleServer">
                     	  </adapt>
                  	    </iterate>
						<test property="cn.dockerfoundry.ide.eclipse.server.ui.isServerSupported" value="true"/>
                  	 </and>
               	   </with>
  	         </visibleWhen>
   	  	   </command>
 	   	</menuContribution>	   	
	</extension>
	
	<extension point="org.eclipse.ui.commands">
		<command
			name="Connect"
			description="Connect to Server"
			id="cn.dockerfoundry.ide.eclipse.server.ui.connectcommand">
		</command>
		<command
			name="Disconnect"
			description="Disconnect Server"
			id="cn.dockerfoundry.ide.eclipse.server.ui.disconnectcommand">
		</command>
		<command
			name="Show Logs"
			description="Update Password"
			id="cn.dockerfoundry.ide.eclipse.server.ui.updatepasswordcommand">
		</command>
		<!-- Commands based on modules -->
		<command
			name="Open Home Page"
			description="Open Home Page"
			id="cn.dockerfoundry.ide.eclipse.server.ui.internal.actions.openhomepagecommand">
		</command>
	</extension>
	
   <extension point="org.eclipse.ui.handlers">
      <handler
        class="cn.dockerfoundry.ide.eclipse.server.ui.internal.actions.ConnectCommand"
        commandId="cn.dockerfoundry.ide.eclipse.server.ui.connectcommand">
 		<enabledWhen>
           	<with variable="selection">
           		<count value="1" />
               	<test property="cn.dockerfoundry.ide.eclipse.server.ui.isServerStopped" value="true"/>    
	        </with>  
		</enabledWhen>
      </handler>
      <handler
        class="cn.dockerfoundry.ide.eclipse.server.ui.internal.actions.DisconnectCommand"
        commandId="cn.dockerfoundry.ide.eclipse.server.ui.disconnectcommand">
 		<enabledWhen>
           	<with variable="selection">
           	    <count value="1" />
               	<test property="cn.dockerfoundry.ide.eclipse.server.ui.isServerStarted" value="true"/>    
	        </with>  
		</enabledWhen>
      </handler>
      <handler
        class="cn.dockerfoundry.ide.eclipse.server.ui.internal.actions.CloneServerCommand"
        commandId="cn.dockerfoundry.ide.eclipse.server.ui.cloneservercommand">
 		<enabledWhen>
           	<with variable="selection">
           		<count value="1" />
               	<test property="cn.dockerfoundry.ide.eclipse.server.ui.isServerSupported" value="true"/>    
	        </with>  
		</enabledWhen>
      </handler>
      <handler
        class="cn.dockerfoundry.ide.eclipse.server.ui.internal.actions.UpdatePasswordCommand"
        commandId="cn.dockerfoundry.ide.eclipse.server.ui.updatepasswordcommand">
 		<enabledWhen>
           	<with variable="selection">
           		<count value="1" />
               	<test property="cn.dockerfoundry.ide.eclipse.server.ui.isServerSupported" value="true"/>    
	        </with>  
		</enabledWhen>
      </handler>
     
      <handler
        class="cn.dockerfoundry.ide.eclipse.server.ui.internal.actions.ShowConsoleViewerCommand"
        commandId="cn.dockerfoundry.ide.eclipse.server.ui.internal.actions.showconsoleviewercommand">
 		<enabledWhen>
           	<with variable="selection">
           		<count value="1" />
           		<and>
               		<test property="cn.dockerfoundry.ide.eclipse.server.ui.isServerStarted" value="true"/>
               		<test property="cn.dockerfoundry.ide.eclipse.server.ui.isCloudModuleStarted" value="true"/>             		
               	</and>    
	        </with>  
		</enabledWhen>
      </handler>      
      <handler
        class="cn.dockerfoundry.ide.eclipse.server.ui.internal.actions.UpdateRestartModuleCommand"
        commandId="cn.dockerfoundry.ide.eclipse.server.ui.internal.actions.updaterestartmodulecommand">
 		<enabledWhen>
           	<with variable="selection">
           		<count value="1" />
           		<and>
               		<test property="cn.dockerfoundry.ide.eclipse.server.ui.isServerStarted" value="true"/>
               		<test property="cn.dockerfoundry.ide.eclipse.server.ui.isModuleProjectAccessible" value="true"/>
               		<test property="cn.dockerfoundry.ide.eclipse.server.ui.isCloudModuleStarted" value="true"/>
               		<test property="cn.dockerfoundry.ide.eclipse.server.ui.isCloudModuleLocal" value="true"/>
               	</and>    
	        </with>  
		</enabledWhen>
      </handler>
      <handler
        class="cn.dockerfoundry.ide.eclipse.server.ui.internal.actions.PushModuleCommand"
        commandId="cn.dockerfoundry.ide.eclipse.server.ui.internal.actions.pushcommand">
 		<enabledWhen>
           	<with variable="selection">
           		<count value="1" />
           		<and>
               		<test property="cn.dockerfoundry.ide.eclipse.server.ui.isServerStarted" value="true"/>
               		<test property="cn.dockerfoundry.ide.eclipse.server.ui.isModuleProjectAccessible" value="true"/>
               		<test property="cn.dockerfoundry.ide.eclipse.server.ui.isCloudModuleLocal" value="true"/>
               	</and>    
	        </with>  
		</enabledWhen>
      </handler>
      <handler
        class="cn.dockerfoundry.ide.eclipse.server.ui.internal.actions.RemapModuleProjectCommand"
        commandId="cn.dockerfoundry.ide.eclipse.server.ui.internal.actions.remaptoprojectcommand">
 		<enabledWhen>
           	<with variable="selection">
           		<count value="1" />
           		<and>
               		<test property="cn.dockerfoundry.ide.eclipse.server.ui.isServerStarted" value="true"/>
               	</and>    
	        </with>  
		</enabledWhen>
      </handler>
      <handler
        class="cn.dockerfoundry.ide.eclipse.server.ui.internal.actions.UnmapProjectCommand"
        commandId="cn.dockerfoundry.ide.eclipse.server.ui.internal.actions.unmapprojectcommand">
 		<enabledWhen>
           	<with variable="selection">
           		<count value="1" />
           		<and>
               		<test property="cn.dockerfoundry.ide.eclipse.server.ui.isServerStarted" value="true"/>
               		<test property="cn.dockerfoundry.ide.eclipse.server.ui.isModuleProjectAccessible" value="true"/>
               	</and>    
	        </with>  
		</enabledWhen>
      </handler>
      <handler
        class="cn.dockerfoundry.ide.eclipse.server.ui.internal.actions.OpenHomePageCommand"
        commandId="cn.dockerfoundry.ide.eclipse.server.ui.internal.actions.openhomepagecommand">
 		<enabledWhen>
           	<with variable="selection">
           		<count value="1" />
           		<and>
               		<test property="cn.dockerfoundry.ide.eclipse.server.ui.isServerStarted" value="true"/>
               		<test property="cn.dockerfoundry.ide.eclipse.server.ui.isCloudModuleStarted" value="true"/>
               	</and>    
	        </with>  
		</enabledWhen>
      </handler>
     
      
   </extension>
  
  <!--extension
        point="org.eclipse.wst.server.ui.serverToolTip">
     <serverToolTip
           class="cn.dockerfoundry.ide.eclipse.internal.servercom.ui.CloudFoundryServerTooltip"
           id="cn.dockerfoundry.ide.eclipse.server.ui.serverTooltip"
           serverTypes="org.cloudfoundry.appcloudserver.10">
     </serverToolTip>
  </extension-->
  <extension
        point="cn.dockerfoundry.ide.eclipse.server.core.callback">
     <callback
           class="cn.dockerfoundry.ide.eclipse.server.ui.internal.CloudFoundryUiCallback"></callback>
  </extension>

	<extension
	      point="org.eclipse.ui.decorators">
	   <decorator
	         class="cn.dockerfoundry.ide.eclipse.server.ui.internal.CloudFoundryDecorator"
	         icon="icons/full/obj16/single.png"
	         id="cn.dockerfoundry.ide.eclipse.server.navigatorDecorator"
	         label="Cloud Foundry Server State Decorator"
	         lightweight="true"
	         location="BOTTOM_RIGHT"
	         state="true">
	      <enablement>
	         <or>
	            <objectClass
	                  name="org.eclipse.wst.server.core.IServer">
	            </objectClass>
	            <objectClass
	                  name="org.eclipse.wst.server.ui.internal.view.servers.ModuleServer">
	            </objectClass>
	         </or>
	      </enablement>
	   </decorator>
	</extension>
	<extension point="org.eclipse.wst.server.ui.editorPageSections">
		<section
			id="cn.dockerfoundry.ide.eclipse.server.editor.general"
         	order="1"
         	insertionId="org.eclipse.wst.server.editor.overview.left"
         	typeIds="org.cloudfoundry.appcloudserver.*"
         	class="cn.dockerfoundry.ide.eclipse.server.ui.internal.editor.CloudFoundryAccountSection">
      	</section>
		<section
			id="cn.dockerfoundry.ide.eclipse.server.editor.status"
         	order="2"
         	insertionId="org.eclipse.wst.server.editor.overview.left"
         	typeIds="org.cloudfoundry.appcloudserver.*"
         	class="cn.dockerfoundry.ide.eclipse.server.ui.internal.editor.CloudFoundryServerStatusSection">
      	</section>
      	<!-- Removed for CF 1.5.0 
      	<section
			id="cn.dockerfoundry.ide.eclipse.server.editor.insight"
         	order="3"
         	insertionId="org.eclipse.wst.server.editor.overview.right"
         	typeIds="org.cloudfoundry.appcloudserver.*"
         	class="cn.dockerfoundry.ide.eclipse.server.ui.internal.editor.SpringInsightSection">
      	</section>
      	-->
  <section
        class="cn.dockerfoundry.ide.eclipse.server.ui.internal.editor.DisablePublishSection"
        id="cn.dockerfoundry.ide.eclipse.server.editor.disable.publish"
        insertionId="org.eclipse.wst.server.editor.overview.right"
        order="1"
        typeIds="org.cloudfoundry.appcloudserver.*">
  </section>
    </extension>
	<extension
       point="org.eclipse.wst.server.core.launchableAdapters">
    <launchableAdapter
          class="cn.dockerfoundry.ide.eclipse.server.ui.internal.CloudFoundryLaunchableAdapterDelegate"
          id="cn.dockerfoundry.ide.eclipse.server.launchableAdapter"
          typeIds="org.cloudfoundry.appcloudserver*">
    </launchableAdapter>
 </extension>
 <!-- 
 <extension
       point="org.eclipse.wst.server.core.clients">
    <client
          class="cn.dockerfoundry.ide.eclipse.server.ui.internal.CloudFoundryLaunchableClient"
          id="cn.dockerfoundry.ide.eclipse.server.launchClient"
          launchable="cn.dockerfoundry.ide.eclipse.server.ui.internal.CloudFoundryLaunchable"
          name="Cloud Foundry Server">
    </client>
 </extension>
 -->
 <extension
       point="org.eclipse.wst.server.ui.editorPages">
    <page
          class="cn.dockerfoundry.ide.eclipse.server.ui.internal.editor.CloudFoundryApplicationsEditorPage"
          id="cn.dockerfoundry.ide.eclipse.server.editor.applications"
          name="Applications and Services"
          order="1"
          typeIds="cn.dockerfoundry.appcloudserver.*">
    </page>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.navigatorContent">
    <actionProvider
          class="cn.dockerfoundry.ide.eclipse.server.ui.internal.CloudFoundryActionProvider"
          id="cn.dockerfoundry.ide.eclipse.server.ui.navigator.ActionProvider">
       <enablement>
          <instanceof
                value="org.eclipse.wst.server.ui.IServerModule">
          </instanceof>
       </enablement>
    </actionProvider>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.viewer">
    <viewerActionBinding
          viewerId="org.eclipse.wst.server.ui.ServersView">
       <includes>
          <actionExtension
                pattern="cn.dockerfoundry.ide.eclipse.server.ui.navigator.ActionProvider">
          </actionExtension>
       </includes>
    </viewerActionBinding>
 </extension>
 <extension
       point="org.eclipse.ui.console.consolePageParticipants">
    <consolePageParticipant
          class="cn.dockerfoundry.ide.eclipse.server.ui.internal.console.CloudFoundryConsolePageParticipant"
          id="cn.dockerfoundry.ide.eclipse.server.ui.console">
       <enablement></enablement>
    </consolePageParticipant>
 </extension>
   <extension
         point="org.eclipse.ui.console.consolePatternMatchListeners">
      <consolePatternMatchListener
            class="org.eclipse.jdt.internal.debug.ui.console.JavaConsoleTracker"
            regex="\(\S*${java_extensions_regex}\S*\)"
            qualifier="${java_extensions_regex}"
            id="cn.dockerfoundry.ide.eclipse.server.ui.console.JavaConsoleTracker">
         <enablement>
            <or>
			  <test property="org.eclipse.ui.console.consoleTypeTest" value="cn.dockerfoundry.ide.eclipse.server.ui.console"/>
            </or>
         </enablement>
      </consolePatternMatchListener>
      <consolePatternMatchListener
            class="org.eclipse.jdt.internal.debug.ui.console.JavaNativeConsoleTracker"
            regex="\(Native Method\)"
            qualifier="Native Method"
            id="cn.dockerfoundry.ide.eclipse.server.ui.console.JavaNativeConsoleTracker">
         <enablement>
            <or>
			  <test property="org.eclipse.ui.console.consoleTypeTest" value="cn.dockerfoundry.ide.eclipse.server.ui.console"/>
            </or>
         </enablement>
      </consolePatternMatchListener>
            <consolePatternMatchListener
            class="org.eclipse.jdt.internal.debug.ui.console.JavaExceptionConsoleTracker"
            regex="\w[^\(\s]+Exception[\s|:]"
            qualifier="Exception"
            id="cn.dockerfoundry.ide.eclipse.server.ui.console.JavaExceptionConsoleTracker">
         <enablement>
            <or>
			  <test property="org.eclipse.ui.console.consoleTypeTest" value="cn.dockerfoundry.ide.eclipse.server.ui.console"/>
            </or>
         </enablement>
      </consolePatternMatchListener>
   </extension>   
   
	<extension point="org.eclipse.ui.menus">
      <menuContribution
        allPopups="true"
        class="cn.dockerfoundry.ide.eclipse.server.ui.internal.actions.CloudFoundryActionContributionFactory"
        locationURI="popup:org.eclipse.wst.server.ui.ServersView?before=additions">
      </menuContribution>
	</extension>
 
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="cn.dockerfoundry.ide.eclipse.server.ui.internal.CloudFoundryPropertyTester"
            id="cn.dockerfoundry.ide.eclipse.server.propertytester"
            namespace="cn.dockerfoundry.ide.eclipse.server.ui"
            properties="isModuleStopped, 
            isServerSupported, isServerStopped, isServerStarted, isModuleStarted, isCloudModuleStarted, isCloudModuleLocal, isModuleProjectAccessible"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="cn.dockerfoundry.ide.eclipse.server.ui.CloudFoundryPreferencePage"
            class="cn.dockerfoundry.ide.eclipse.server.ui.internal.CloudFoundryTracePreferencePage"
            id="cn.dockerfoundry.ide.eclipse.server.ui.CloudFoundryTracePreferencePage"
            name="HTTP Tracing">
      </page>
      <page
            class="cn.dockerfoundry.ide.eclipse.server.ui.internal.CloudFoundryPreferencePage"
            id="cn.dockerfoundry.ide.eclipse.server.ui.CloudFoundryPreferencePage"
            name="Cloud Foundry">
      </page>
   </extension>
   <extension
         point="cn.dockerfoundry.ide.eclipse.server.ui.applicationWizard">
      <applicationWizardDelegate
            class="cn.dockerfoundry.ide.eclipse.server.ui.DefaultApplicationWizardDelegate"
            providerID="cn.dockerfoundry.ide.eclipse.server.application.javaweb">
      </applicationWizardDelegate>
   </extension>
   <extension
         point="org.eclipse.wst.server.ui.serverCreationWizardPageExtension">
      <serverCreationWizardPageExtension
            id="cn.dockerfoundry.ide.eclipse.server.ui.internal.wizards.serverCreationWizardPageExtension"
            class="cn.dockerfoundry.ide.eclipse.server.ui.internal.wizards.CloudFoundryServerWizardUIControl"/>
   </extension>
      <extension
         point="org.eclipse.wst.server.ui.serverEditorOverviewPageModifier">
      <serverEditorOverviewPageModifier
            id="cn.dockerfoundry.ide.eclipse.server.ui.internal.editor.serverEditorOverviewPageExtension"
            class="cn.dockerfoundry.ide.eclipse.server.ui.internal.editor.CloudFoundryServerEditorOverviewPageUIControl"/>
   </extension>
</plugin>
